
/** Import the Font Families called Inter and Jost from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ---- Base Rules ---- */

body {
    margin: 0px;
    font-family: 'Inter', serif;
    overflow-x: hidden;
    background: white;

}


/* ---- Layout Rules ---- */



main{
    background: #52705d;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}


/* ---- Module Rules ---- */


.img{
    height: 100vh;
    width: 100%;
    margin-bottom: 7px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter:blur(4px);
    
}
.imgtext{
    background-color: #68686585;
    color:rgba(255, 255, 255, 0.978);
    border: 3px solid whitesmoke;
    font-weight: bold;
    position:absolute;
    top: 50%;
    left: 25%;
    z-index: 2;
    width: 50%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    opacity: 0.8;
    animation: 
    blink-caret 1s step-end infinite;
}
.welcome{
    font-size: 3rem;
    font-family: "Jost";
    font-style: italic;
}

/* The typing effect */


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:#68B984 }
}


@media(max-width: 790px){
    .img{
        filter: blur(2px);
    }
    .imgtext{
        width: 70%;
        text-align: center;    
        justify-content: center;
        left: 15%;
    }
    .welcome{
        font-size: 1.5rem;
        
    }
    body{
        overflow-x: hidden;
    }
}

.services{
    width: 100vw;
    height: 98vh;
    margin-bottom: 22px;

    
}

.skewed{ 
    width: 99vw;
    height: 50vh;
    color: #f1f1f1;
    display: flex;
    margin: 1.5px;
    background: #111;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

  
}


.small{
    color:#8f8f8f;
    font-size: 1.1em;
    transform: translate(80px, 31px);
}
.bigger{
    color:grey;
    font-family: "Jost";
    font-style: italic;
    transform: translate(80px,  -41px);
}

h1{
    margin: 0;
    transform: translate(80px,  -50px);
    font-size: 3em;
}
.text{
    padding: 1.5em;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.image{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image::before{
    content: "";
    position: absolute;
    left: -6.1em;
    top: 50%;
    transform: translateY(-60%)rotate(40deg);
    background: #111;
    width:50%;
    height: 140%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.skewed-left .image::before{
    transform: translateY(-60%) rotate(-40deg);
    left:initial;
    right: -6.1em;
}
.sec{
    
    width: 140%;
}

.image2{
    height: 97%;
}





@media screen and (max-width: 790px){
    .skewed{
        display: grid;
        width: 99vw;
        height: 49%;
        margin: 2px;
        overflow: hidden;
    }
    .image, .text{
        width: 100%;
    }
    .bigger{
        font-size: 1.5em;
        font-family: "Jost";
        font-style: italic;
        transform: translate(50px ,10px);
    }
    small{
        display: none;

    }
    .sec{
        width: 100%;
    }
    .skewed .image::before{
        width: 120%;
        height: 40%;
        top: -5em;
        left: 50%;
        transform: translateX(-50%) rotate(10deg);
    }
    .skewed-left .image::before{
        transform: translateX(-50%) rotate(-10deg);
        top: initial;
        bottom: -5em;
    }

}





.meet{
    background: silver;
    height: 15vh;
    width:100vw;
    margin-top: 0.1em;

}

.cardsecheader{  
    font-size: 3.2em; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: black;
    width: fit-content;
    padding: 14px;
    position: relative;

    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transform: translate(11em, 9px);
}


.cardsec{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100Vh;
    width: 100%;
    background: rgb(49, 48, 48);
    padding: 30px;
}

.cards{
    position:inherit;
    width:452px;
    height: 190px;
    margin: 55px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
}

.cards:hover{
    height: 350px;
}
.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow:hidden;
    transition: 0.5s;
}
.cards:hover .imgBx{
    width: 250px;
    height: 250px;

}
.imgBx img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
}
.cards .content{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    justify-content: center;
    align-items: flex-end;  
    overflow: hidden;  
}
.cards .content .details{
    width: 100%;
    text-align: center;
    padding: 40px;
    transition: 0.5s;
}
.cards .content .actionbtn{
    transform: translateY(150px);
}

.cards:hover .content .actionbtn{
    transform: translateY(0px);
}
.cards:hover .content .details h2{
    transform: translateY(-5px);
}

.cards .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
    transform: translateY(50px);

}
 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
.cards .content .details .actionbtn{
    justify-content: space-between;
    display: flex;
}
.anc{
    color:#68B984;
}
.facebook:hover{
    color: #1977f3;
}
.gmail:hover{
    color:#58241f;
}
.linkedin:hover{
color: #044568;
}
.github:hover{
    color:black;
}


.butn{
    border: none;
    background: none;
    padding: 10px;
    font-size: 1.5em;

    transition: 0.3s;
}
.butn:hover{
    font-weight: bold;
    font-size: 1.7em;
}

@media (max-width: 990px){
    .cardsec{
        display: grid;
    }
    .meet{
        display: none;
    }
    .cardsecheader{
        display: none;
    }
    
}




/*Navigation Styles*/

nav{
    font-family: "Inter";
    background: #000000c2;
    height: 80px;
    width: 100%;

}

label.logo{
    color:white;
    width: 20px;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;
    cursor: pointer;
}
.anchorlogo{
    text-decoration: none;
    color: white;
    width: 100%;
}
.anchorlogo:hover{
    background: none;
    color: #a8d7b8;
    transition: 0.5s;
    text-decoration: none;
}

nav ul{
    float: right;
    margin-right: 30px;
    margin-top: -2.5px;

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;

}

a.active, .linkActive, .anchor:hover{
    background: #68B984;
    transition: .5s;
    color: black;
    text-decoration: none;

}

.checkbtn{
    color: white;
    font-size: 30px;
    line-height: 80px;
    display: none;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    
}
#check{
    display: none;
}


@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
   
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 790px){
    .checkbtn{
        display: block;  
        margin-top: 20px;  
    }
    nav{
        font-family: "Inter";
    }
    ul{
        position: fixed;
        width: 100vw;
        height: 60vh;
        background: #52705d;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
        border-radius: 1px;
        opacity: 0.9;

    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
        text-decoration: none;
    }
    a.active, a:hover{
        background: none;
        color: #68B984;
        transition: 0.5s;
        text-decoration: none;
    }
    #check:checked ~ ul{
        left: 0;
    }
}




/* Header Styles*/
.page__header {
    background: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 5.5vh;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/*Button To navigate to the top*/

.toTop{
    display: none;
    position: fixed;
    bottom: 35px;
    right: 45px;
    background-color: rgba(123, 128, 230, 0.829);
    font-size: 20px;
    font-weight: bold;
    padding:5px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease;
}

.toTop.appear{
    display: block;
}



.btn{
    display: none;
    width: 35px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.btn span{
    display: inline-block;
    width: 100%;
    height:3px;
    background-color: #eee;
    margin-bottom: 8px ;

}
nav h4{
    display: none;
}



   

.toTop{
    display: none;
    position: fixed;
    bottom: 35px;
    right: 45px;
    background-color: rgba(123, 128, 230, 0.829);
    font-size: 20px;
    font-weight: bold;
    padding:5px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.toTop.appear{
    display: block;
}
