@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Sec{
    position: relative;
    background:black;
    height: 95vh;
    transform: translateY(-37px);
}
.left{
    background:#81c599;
    width:50%;
    height: 100%;
    
}
h1{
    color: black;
    font-size: 3.4em;
    font-family: "Jost";
    font-style: italic;
}

.head1{
    position: relative;
    left: 1em;
    top: 5.7em;
}

.temperaturegraph{
    width:50%;
    height:100%;
    transform: translate(90%, -80%);  
}

.head2{
    position: relative;
    transform: translate(50px, 250px);
}
.humiditygraph{
    width:50%;
    height:100%;
    transform: translate(50px, -80px);
}

.head3{
    position: relative;
    left: 2em;
    top: 5.5em;
}
.soilgraph{
    width:50%;
    height:100%;
    transform: translate(95%, -80%);
   
}


.right{
    background-color:#81c599 ;
    width:50%;
    height: 100%;
    transform: translate(790px, -1px);
}


iframe{
    position: fixed;
    width: 450px;
    height: 260px;
    border: 1px solid wheat;
}

.temp{
    transform: translate(230px,60px);
}

.humid{
    transform: translate(120px,-382px);
}

.soil{
    transform: translate(230px,60px);
}

@media(max-width:790px){
    .temp{
        transform: translate(-199px,675px);
    }   
    

    .humid{
       transform: translate(106px,1123px);
    }

    .soil{
        transform: translate(-203px,1119px);
    }
    .left{
        width:100%;
        height:50%
    }
    .right{
        width:100%;
        height:50%;
    }
    .head1{
        left: 1em;
        top: 2em;
    }
}