@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Sec{
    position: relative;
    background:black;
    height: 95vh;
    transform: translateY(-37px);
}
.left{
    background:#68B984;
    width:50%;
    height: 100%;
    
}
h1{
    color: black;
    font-size: 3.4em;
    font-family: "Jost";
    font-style: italic;
}

.head1{
    position: relative;
    left: 1em;
    top: 5.7em;
}



.head2{
    position: relative;
    top: 5.7em;
    transform: translateX(50px);
    
}


.head3{
    position: relative;
    left: 1.5em;
    top: 5.7em;
}




.right{
    background-color:#68B984;
    width:50%;
    height: 100%;
    transform: translate(790px, -1px);
}


iframe{
    position: fixed;
    width: 450px;
    height: 260px;
    border: 1px solid wheat;
}

.temp{
    transform: translate(900px,-451px);
}

.humid{
    transform: translate(120px,-450px);
}

.soil{
    transform: translate(900px,-450px);
}

@media(max-width:790px){
    
    .temp{
        transform: translate(15px,18px);
    }   
    

    .humid{
       transform: translate(15px,29px);
    }

    .soil{
        transform: translate(15px,19px);
    }
    .left{
        width:100%;
        height:50%
    }
    .right{
        width:100%;
        height:50%;
        transform: translate(0px, 6px);
    }
    .head1{
        left: 0.5em;
        top: 2em;
    }
    .head2{
         transform: translate(16px, -229px);
    }
    .head3{
        transform: translate(-48px, -221px);   
    }

    iframe{
        width:390px;
        height: 310px;
    }
}
